<web-app> 
    <servlet> 
         <servlet-name>HelloWorldNamit</servlet-name> 
         <servlet-class>HelloWorldNamit</servlet-class> 
    </servlet> 
    <servlet-mapping> 
         <servlet-name>HelloWorldNamit</servlet-name> 
         <url-pattern>/HelloWorldNamit</url-pattern> 
    </servlet-mapping> 
    <session-config> 
        <session-timeout> 
            30 
        </session-timeout>
    </session-config> 
</web-app> 
